body {
    margin: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
}

::-moz-placeholder { /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder { /* IE 10+ */
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.main {
    height: 100vh;
    background-color: #0069A3;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box {
    border-radius: 5.5%;
    height: 450px;
    width: 380px;
    background-color: #FFFFFF;
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 7px;
}

form {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 60px;
    font-family: 'Arial';
    opacity: 1;
}

.secondTitle {
    font-family: Arial;
}


input {
    box-shadow: 0;
    border: none;
    border-radius: 0;
    background-color: #D3D3D3;
    border-bottom: 2px solid white;
    font-family: 'Arial', sans-serif;
    width: 270px;
    height: 40px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    padding-left: 5px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #ef5350;
    transition: border-color 0.5s cubic-bezier(0, .92, .57, 1.07);
}

.butt {
    height: 35px;
    width: 280px;
    background-color: #EFE255;
    border: 0;
    font-family: 'Arial';
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    color: #000000;
    font-size: 15px;
    border-radius: 10%;
}

.butt:hover {
    background-color: #EFE255;
    color: #000000;
    cursor: pointer;
}

.signup {
    margin-top: 17px;
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: #ff8a80;
}

@media only screen and (max-width: 433px) {
    .box {
        height: 420px;
        width: 300px;
        margin-top: 20px;
    }

    input {
        width: 240px;
    }
}