<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
<div class="main">
    <div class="box effect7">
        <div class="header">REGISTER</div>
        <form id="registerForm">
            <input type="text" placeholder="Nombre completo" name="fullname" required>
            <input type="email" placeholder="Correo electronico" name="email" required>
            <input type="password" placeholder="Contraseña" name="password" required>
            <input type="text" placeholder="Numero de identificación" name="identification" required>
            <input type="text" placeholder="Dirección" name="address" required>
            <input type="tel" placeholder="Telefono" name="phone" required>
            <button class="butt btn-register">REGISTER
                <link href="./views/login.html">
            </button>
        </form>
    </div>
</div>

<script src="./js/jquery-3.7.1.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>